@import "~/assets/scss/Sections/HeroSection/index.scss";

.hero-container {
  .section-container {
    width: 100%;
    min-height: 880px;
    @include d-flex(row-reverse, center, flex-start, wrap);

    @media(max-width: $screen-lg) {
      min-height: 780px;
    }

    @media(max-width: $screen-sm) {
      min-height: 560px;
    }

    &.right {
      flex-direction: row;
      
      &.abs-image .image-container {
        right: 0;
        left: auto;
      }
    }

    &:not(.container) {
      padding: 0 30px;
    }

    &.abs-image {
      .content-container {
        max-width: 50%;
      }

      .image-container {
        position: absolute;
        left: 0;
        max-width: 50%;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    
    .content-container {
      margin-left: 10px;
      margin-right: 10px;
      height: 100%;
      max-width: 50%;
      @include d-flex(column, flex-start, center);
      width: calc(50% - 40px);

      @media(max-width: $screen-lg) {
        max-width: 100%;
      }
    }
  }
}