@import '~/assets/scss/sass-loader';

.custom-button {
	font-family: inherit;
	transition: 0.5s;
	padding: 5px 10px;
	color: rgb(0, 0, 0);
	border: 1px solid #000;
	text-transform: capitalize;
	border-radius: 5px;

	&:hover {
		color: #fff ;
		background: #000;
	}
}