@import '~/assets/scss/sass-loader';

.nl-archive {
  $el: '.nl-archive';
  @include grid-columns(1, auto 1fr, center);
  border-radius: 80px;
  overflow: hidden;
  gap: 0;

  * {
    font-weight: 600;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__date {
    font-size: $fs-xl;
    padding: 0px 16px;

    &__month {
      @include d-flex(row, center);
      font-size: $fs-sm;
      text-transform: uppercase;
      height: 100%;
      background: #5E2D91;
      padding: 0px 16px;
    }
    
    &__container {
      background: var(--primary-color);
      @include d-flex(row, center, center);
      height: 100%;
      color: white;
      text-align: center;
    }
  }

  &__content {
    &, * {
      font-size: $fs-md;
    }

    &__container {
      @include d-flex(row, center, space-between);
      background: #ECECED;
      padding: 12px 20px;
    }

  }

  &__button {
    background: var(--primary-color);
    padding: 7px 2.5rem;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
    color: white;
    border: 2px solid var(--primary-color);
    font-size: $fs-sm;

    &:hover {
      background: transparent;
      color: var(--primary-color);
    }
  }

}