@import '/assets/scss/sass-loader';

.topbar-1 {
  @include d-flex(row, center, flex-end);
}

.accessible-tool {
  &-container {
    @include d-flex(row, center, flex-end);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid;
    border-top: 0px;
    padding: 5px 40px 8px 28px;
  }

}

.AccessibilityButtons button {
  background-color: transparent;
  border: 0;
}