@import '~/assets/scss/sass-loader';

.content-container {
	background: var(--bg-color);

	.container {
		padding: 40px 1rem;
		
		.content-row {
			padding: 20px 0;
			@include grid-columns(3, 1fr, start, center, 20px);

			.content-list .content {
				color: var(--text-color);
				white-space: pre-line;
				line-height: 0.9;
			}
		}
	}
}