/* Colors */
$primary-color: #19454f;
$secondary-color: #000;
$text-color: #000;

/* Fonts */
$primary-font: var(--primary-font);
$heading-font: var(--secondary-font);

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$container: 1170px;

$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-xxl: 26px;
$fs-xxxl: 35px;
$fs-jumbo: 40px;